<div class="col-md-12 col-sm-12">
  <table class="table table-hover">
    <tr [@slideDownUp]>
      <th>Origem</th>
      <th>Destino</th>
      <th>Tempo</th>
      <th>Plano</th>
      <th style="color: darkblue">Com FaleMais</th>
      <th style="color: darkred">Sem FaleMais</th>
    </tr>

    <tr *ngFor="let busca of buscasRealizadas" [@slideLeftRight]>
      <td>{{ busca.origem }}</td>
      <td>{{ busca.destino }}</td>
      <td>{{ busca.tempo }}</td>
      <td>{{ busca.plano }}</td>
      <td>{{ busca.cFm }}</td>
      <td>{{ busca.sFm }}</td>
    </tr>

  </table>
</div>