<div class="jumbotron">
  <div class="row text-center">
    <h2>Simulação <strong>FaleMais</strong></h2>
    <p>Seleciones os DDDs de <strong>Origem</strong> e <strong>Destino</strong>, o <strong>Plano</strong> e a
      quantidade de tempo em <strong>Minutos</strong>.</p>

    <div class="col-md-3 col-sm-3">
      <div class="form-group">
        <label for="secret">Origem</label>
        <select type="string" [(ngModel)]="selectedOptionOrigem" id="secret" class="form-control" name="secret">
          <option *ngFor="let iDddOrigem of dddsPossiveis;" [ngValue]="iDddOrigem">
            {{ iDddOrigem.ddd }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-md-3 col-sm-3">
      <div class="form-group">
        <label for="secret">Destino</label>
        <select type="string" [(ngModel)]="selectedOptionDestino" id="secret" class="form-control" name="secret">
          <option *ngFor="let iDddDestino of dddsPossiveis;" [ngValue]="iDddDestino">
            {{ iDddDestino.ddd }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-md-3 col-sm-3">
      <div class="form-group">
        <label for="secret">Plano</label>
        <select type="string" [(ngModel)]="selectedPlano" id="secret" class="form-control" name="secret">
          <option *ngFor="let plano of planosDisponiveis;" [ngValue]="plano">
            {{ plano.plano }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-md-3 col-sm-3">
      <div class="form-group">
        <label for="minutos">Tempo</label>
        <input type="number" min="0" appNumbersOnly [(ngModel)]="tempoMinutos" id="name" class="form-control">
      </div>
    </div>
    <div class="col-md-12 col-sm-12">
      <div style="margin-top: 10px;" class="text-danger" *ngIf="(triedBusca)"><strong>Por favor, preencha todos os
          campos!</strong></div>
      <button type="button" (click)="calculoFaleMais()" class="btn btn-dark"><strong>Calcular</strong></button>
    </div>
  </div>
</div>

<app-resultado *ngIf="(aparecerTabela)"></app-resultado>