.bg-dark{
    background-color: #343a40;
}

.navbar{  
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";  
}
.navbar a{
    color: white;
}
.navbar a:hover{
    color: gray;
}
