<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div  class="col-md-12 text-center">
      <h1 class="jumbotron-heading">Bem-vindo à Telzir Comunicações!</h1>
      <h4>
        Experimente agora nosso novo serviço!
      </h4>
      <p>
        Com nosso novo serviço <strong>FaleMais</strong> você fala mais pagando muito menos!
      </p>
      <p>Verifique agora na nossa nova ferramenta os códigos de área disponíveis.</p>
      <button  type="button" [@slideInOut]='animationState' (click)="appearFalaMais()" class="btn btn-dark">Clique para testar!</button>
    </div>
  </div>
  <app-fala-mais-simulation style="display: block" *ngIf="animationState === 'out'" [@slideDownUp]></app-fala-mais-simulation>
</div>